<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Recipe</h1>

    <form action="/update_recipe/{{recipe.id}}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{recipe.name}}"><br>
        <label for="description">Description:</label><br>
        <textarea name="description" cols="30" rows="5">
{{recipe.description}}
        </textarea><br>
        <label for="instructions">Instructions:</label><br>
        <textarea name="instructions" cols="30" rows="5">
{{recipe.instructions}}
        </textarea><br>
        <label for="recipe_date">Date Made On:</label><br>
        <input type="date" name="recipe_date" value={{recipe.recipe_date}}><br>
        <label for="under_thirty">Under thirty Minutes?</label><br>
        <label for="Yes">Yes</label>
        <input type="radio" name="under_thirty" value=1 id="Yes" {%if recipe.under_thirty == 1 %}checked{% endif %}>
        <label for="No">No</label>
        <input type="radio" name="under_thirty" value=0 id="NO" {%if recipe.under_thirty == 0 %}checked{% endif %}>
        <br>
        <button type="submit">Update</button>
    </form>

    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/logout">Logout</a></button>
</body>
</html>